body {
    margin: 0;
}

footer {
<<<<<<< HEAD
    bottom: 0;
    width: 100%;
    .footer-main {
        padding: 0 20px 0 20px;
        text-align: center;
    }
=======
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 20px 0 20px;
>>>>>>> ce9e69f (Footer and header)
}