body {
    margin: 0;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: rgb(107, 0, 0);
    color: white;
    .footer-main {
        padding: 20px 40px;
        text-align: center;
        font-size: larger;
        .map>iframe {
            border-radius: 15px;
        }
    }
    .footer-socials {
        margin-top: 30px;
        padding: 20px;
        text-align: center;
        background-color: rgb(56, 0, 0);
        font-size: 15px;
        color: rgb(209, 209, 209);
        .socials {
            i {
                padding: 0 10px;
            }
        }
        .copyright {
            margin-top: 10px;
        }
    }
    .contact-flex {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        margin-bottom: 20px;
        div {
            flex-grow: 1;
            flex-wrap: wrap;
            width: 20%;
            min-width: 320px;
            background-color: rgba(255, 110, 53, 0.336);
            padding: 15px 10px 0 10px;
            border-radius: 5%;
        }
        i {
            font-size: 30px;
        }
    }
}