body {
    margin: 0;
    background-color: darkred;
    color: white;
    .menu-catagory {
        background-color: white;
        color: darkred;
        width: 20rem;
        margin-left: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        padding: 0.25rem;
    }

    .menu-item {
        h2 {
            margin-bottom: 0.5rem;
        }
        p {
            margin: 0.25rem;
            margin-left: 0px;
            padding-left: 0px;
        }
    }

    ul {
        list-style-type: none;
        padding-left: 0.5rem;
        li {
            padding-left: 0.5rem;
        }
    }
}

footer {
    bottom: 0;
    width: 100%;
    background-color: darkred;
    color: white;
    .footer-main {
        padding: 20px;
        text-align: center;
        font-size: larger;
    }
    .contact-flex {
        display: flex;
        justify-content: space-evenly;
        div {
            flex-wrap: wrap;
            width: 20%;
            background-color: rgba(255, 161, 53, 0.541);
            padding: 15px 10px 0 10px;
            margin-bottom: 20px;
            border-radius: 20%;
        }
    }
}
