#header {
  position: fixed;
  background-color: rgb(107, 0, 0);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  #img-logo-header {
    height: 60px;
    padding: 10px;
  }
  #links-header > p {
    display: inline-block;
    padding: 10px;
    font-size: larger;
  }
}

body {
  margin: 0;
  background-color: darkred;
  color: white;

  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;

  #ofertas {
    display: flex;
    padding-top: 80px;
    font-weight: 800;
    align-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    h1 {
      font-size: 54px;
      color: darkgreen;
      text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 36px;
      #disclaimer {
        font-size: 16px;
      }
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 22px;
      font-weight: 100;
    }

    #offers-list {
      display: flex;
      align-items: center;
      align-content: center;
      text-align: center;
      flex-direction: column;
      width: fit-content;

      #buy-3-get-1 {
        display: flex;
        width: 100%;
      }
    }

    .bubble-offer {
      background-color: white;
      color: black;
      border: solid orangered;
      border-width: 3px;
      border-radius: 02.5rem;
      padding: 0.25rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      margin: 0.25rem;

      font-size: 22px;

      width: 100%;

      .highlight {
        color: darkred;
      }
    }

    #buy-3-get-1 {
      display: flex;
    }
  }

  hr {
    color: green;
    background-color: green;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 4px;
  }

  .menu-catagory {
    background-color: white;
    color: darkred;
    width: 20rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    display: flex;
    justify-content: space-between;
  }

  .main-menu-display {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .main-menu-display > div {
    flex: 1;
    flex-basis: 40%;
  }

  .btn-dropdown {
    display: none;
  }

  .dropdown {
    -webkit-text-stroke: 2px;
  }

  .dropdown:hover {
    cursor: pointer;
  }

  #menu-kebab,
  #menu-lahmachun,
  #menu-ensaladas,
  #menu-durum,
  #menu-platos,
  #menu-menus,
  #menu-raciones,
  #menu-extras,
  #menu-bebidas,
  #menu-postres {
    overflow-y: auto;
    max-height: 0px;
    opacity: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #kebab-dropdown:checked ~ #menu-kebab {
    overflow-y: scroll;
    max-height: 2000px;
    opacity: 1;
  }

  #lahmachun-dropdown:checked ~ #menu-lahmachun {
    overflow-y: scroll;
    max-height: 2000px;
    opacity: 1;
  }

  #ensaladas-dropdown:checked ~ #menu-ensaladas {
    overflow-y: scroll;
    max-height: 2000px;
    opacity: 1;
  }

  #durum-dropdown:checked ~ #menu-durum {
    overflow-y: scroll;
    max-height: 2000px;
    opacity: 1;
  }

  #platos-dropdown:checked ~ #menu-platos {
    overflow-y: scroll;
    max-height: 2000px;
    opacity: 1;
  }

  #menus-dropdown:checked ~ #menu-menus {
    overflow-y: scroll;
    max-height: 2000px;
    opacity: 1;
  }

  #raciones-dropdown:checked ~ #menu-raciones {
    overflow-y: scroll;
    max-height: 2000px;
    opacity: 1;
  }

  #extras-dropdown:checked ~ #menu-extras {
    overflow-y: scroll;
    max-height: 2000px;
    opacity: 1;
  }

  #bebidas-dropdown:checked ~ #menu-bebidas {
    overflow-y: scroll;
    max-height: 2000px;
    opacity: 1;
  }

  #postres-dropdown:checked ~ #menu-postres {
    overflow-y: scroll;
    max-height: 2000px;
    opacity: 1;
  }

  .menu-display {
    transition:
      opacity 0.5s,
      max-height 0.5s linear;
  }

  .menu-item {
    h2 {
      margin-bottom: 0.5rem;
    }
    p {
      margin: 0.25rem;
      margin-left: 0px;
      padding-left: 0px;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0.5rem;
    li {
      padding-left: 0.5rem;
    }
  }
}

footer {
  bottom: 0;
  width: 100%;
  background-color: rgb(107, 0, 0);
  color: white;
  .footer-main {
    padding: 20px 40px;
    text-align: center;
    font-size: larger;
    .map > iframe {
      border-radius: 15px;
    }
  }
  .footer-socials {
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    background-color: rgb(56, 0, 0);
    font-size: 15px;
    color: rgb(209, 209, 209);
    .socials {
      i {
        padding: 0 10px;
      }
    }
    .copyright {
      margin-top: 10px;
    }
  }
  .contact-flex {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    div {
      flex-grow: 1;
      flex-wrap: wrap;
      width: 20%;
      min-width: 320px;
      background-color: rgb(157, 37, 18);
      padding: 15px 10px 0 10px;
      border-radius: 5%;
    }
    i {
      font-size: 30px;
    }
  }
}
